VITE_TELEMETRY_MODE=simulation
VITE_BACKEND_URL=http://localhost:5000
VITE_FIREBASE_API_KEY=AIzaSyA1OfRYKD1f1SvK5N5mP3E3jmDKK6B3aNU
VITE_FIREBASE_AUTH_DOMAIN=black-box-9aa5e.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://black-box-9aa5e-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=black-box-9aa5e
VITE_FIREBASE_STORAGE_BUCKET=black-box-9aa5e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=267973657914
VITE_FIREBASE_APP_ID=1:267973657914:android:a8118c45a6a4226e353c03
VITE_FIREBASE_MEASUREMENT_ID=G-H000XHX1C8
