VITE_TELEMETRY_MODE=simulation
VITE_BACKEND_URL=http://localhost:5000
VITE_FIREBASE_API_KEY=AIzaSyCHQmfaFdoMafhsuRqVgey8MMdlsI4V7D8
VITE_FIREBASE_AUTH_DOMAIN=black-box-24537.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://black-box-24537-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=black-box-24537
VITE_FIREBASE_STORAGE_BUCKET=black-box-24537.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=218270638774
VITE_FIREBASE_APP_ID=1:218270638774:web:2a96a800b0f573f92c3c17
VITE_FIREBASE_MEASUREMENT_ID=G-H000XHX1C8
